.features {
  background-color: $white-color;
  padding-bottom: 0px;
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__image {
    @extend %align-list;
    justify-content: center;
    border-radius: 4px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
  }
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: $letter-spacing;
    color: $main-text-color;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: auto;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: $letter-spacing;
    color: $secondary-text-color;
    width: 270px;
  }
}
